/* Kaltura Standard Stylesheet */

/* Kaltura Color Scheme 
 *
 * Body Text
 *	12 pt with 18pt line height (1em and 1.5em)
 *	#666560 color
 *	Arial, sans-serif
 *
 * Links
 *	standard: #0fa2bb
 *	hover focus active: #00cdff
 *	visited: #0b0080
 *
 * Borders: #a7a7a7
 *
 * Form Button Text:
 *	standard: #0fa2bb
 *	hover: #00cdff
 */

/* Framework */
html {
       font-family: Arial, sans-serif;
       color: #666560;
       font-size: 12px;
       line-height: 1.5em;
}
body {
       font-family: Arial, sans-serif;
       font-size: 100%;
       line-height: 150%;
		margin:0;
		padding:0;
}

/* Links */
a {
       text-decoration: none;
       color: #0fa2bb;
       background: none;
}
a:visited {
      color: #01879d;
}
a.alwaysunvisited:visited {
	color: #0fa2bb;
}
a:active {
      color: #00cdff;
}
a:hover, a:focus {
       text-decoration: underline;
      color: #00cdff;
}

/* Fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
       color: #484848;
       background: none;
       font-weight: bold;     
		line-height:1em;
}

h1 {
       font-size: 3em;
}
h2 {
       font-size: 2.2em;
}
h3 {
       font-size: 1.7em;
       color: #828a8c;
}
h4 {
       font-size: 1.5em;
       color: #828a8c;
}
h5 {
       font-size: 1.2em;
       color: #828a8c;
}
h6 {
       font-size: 1em;
       color: #828a8c;
}
p {
       margin: .4em 0 .5em 0;
       line-height: 1.5em;
}

/* Form Elements */

form input,
form textarea {
	background-color: rgb(255,255,255);
	border: 1px solid #a7a7a7;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:.25em;
}
div.kaltura-button1,
div.kaltura-button2,
div.kaltura-button3
{
	margin:.25em;
	padding:.5em;
}
div.kaltura-button1 a:hover,
div.kaltura-button2 a:hover,
div.kaltura-button3 a:hover
{
	text-decoration: none;
}
form input[type=submit],
form input[type=button],
div.kaltura-button1 a,
div.kaltura-button2 a,
div.kaltura-button3 a,
form input.kaltura-button1,
form input.kaltura-button2,
form input.kaltura-button3
{
	font-weight: bold;
	margin: .25em;
	padding: .5em;
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #0fa2bb;
	border: 1px solid #a7a7a7;
	background-color: #068ea2;
	background-image: -webkit-gradient(
		linear,
		left 0,
		left 27,
		color-stop(0, #fff),
		color-stop(0.5, #fff),
		color-stop(1, #bababa)
	);
	background-image: -moz-linear-gradient(
		center bottom,
		#bababa 1%,
		white 20%
	);
}
form input[type=submit]:hover,
form input[type=button]:hover,
div.kaltura-button1 a:hover,
div.kaltura-button2 a:hover,
div.kaltura-button3 a:hover,
form input.kaltura-button1:hover,
form input.kaltura-button2:hover,
form input.kaltura-button3:hover
{
	background-image: none;
	background-color: #fff;
	border: 1px solid #00cdff;
	color: #00cdff;
 	background-image:none;
}
div.kaltura-button2 a,
div.kaltura-button3 a,
form input.kaltura-button2,
form input.kaltura-button3 {
	font-color: white;
	border: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #fff;
	font-weight: bold;
	padding: .5em;
	background-color: #068ea2;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(.12, #068ea2),
		color-stop(.88, rgba(0,0,0,.25))
	);
	background-image: -moz-linear-gradient(
		center top,
		#068ea2,
		rgba(0,0,0,.25)
	);
}
div.kaltura-button2 a:hover,
form input.kaltura-button2:hover
{
	color: #fff;
	border: none;
	background-color: #30aec7;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(.12, #30aec7),
		color-stop(.88, rgba(0,0,0,.1))
	);
	background-image: -moz-linear-gradient(
		center top,
		#30aec7 12%,
		rgba(0,0,0,.1) 88%%
	);
}
div.kaltura-button3 a,
form input.kaltura-button3 {
	background-color: #6fb1fb;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(.12, #6fb1fb),
		color-stop(.88, rgba(0,0,0,.1))
	);
	background-image: -moz-linear-gradient(
		center top,
		#6fb1fb,
		rgba(0,0,0,.1)
	);
}
div.kaltura-button3 a:hover,
form input.kaltura-button3:hover
{
	color: #fff;
	border: none;
	background-color: #92c4fd;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(.12, #92c4fd),
		color-stop(.88, rgba(0,0,0,.1))
	);
	background-image: -moz-linear-gradient(
		center top,
		#92c4fd 12%,
		rgba(0,0,0,.1) 88%%
	);
}

/* Kaltura Search */

form input.kaltura-search[type=text] {
	float: left;
	display: inline-block;
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: 0;
	padding-right: 0;
}
form input.kaltura-search[type=button] {
	color: #0fa2bb;
	border: 1px solid #a7a7a7;
	background-image: none;
	background-color: #fff;
	float: left;
	display: inline-block;
	border-left: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: 0;
	padding-left: 0;
	width:30px;
	color:green;
	background-image: url(kaltura-images/search-icon.png);
	background-repeat: no-repeat;
	background-position: right center;
}
form input.kaltura-search[type=button]:hover,
form input.kaltura-search[type=button]:focus
{
	border: 1px solid #a7a7a7;
	border-left: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	color: #0fa2bb;
 	background-image:none;
}

/* Kaltura Box Highlight */
.kaltura-box {
	border: 1px solid #a7a7a7;
	border-radius: 3px;
	padding: .75em;
	margin: .75em;
}

/* Kaltura Masthead */
nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
nav li {
	float: left;
	margin: 0 0.15em;
}
#kaltura-masthead {
	height:108px;
}
#kaltura-logo {
	position:relative;
	top:30px;
	left:0;
}
#kaltura-top-menu {
	position: relative;
	float: right;
	top:-44px;
	right:0;
}
#kaltura-top-menu a
{
	font-weight: bold;	
}
#kaltura-top-menu li
{
	margin-left: 1em;	
}
#kaltura-masthead-menu {
	position: relative;
	float: right;
	top:0;
	right:0
}
#kaltura-masthead-menu a
{
	font-weight: bold;	
	font-size: 1.33em;
    color: #666560;
}
#kaltura-masthead-menu li
{
	margin-left: 1em;	
}

/* Application specific menu */

#kaltura-content-menu-header
{
	margin-bottom: 90px;
	background-color: #ff8c38;
	background: -moz-linear-gradient(30deg, rgb(164,69,26) 0%, #ff8c38 25%, #e36d29 40%, #ff8c38 80%);
	background: -webkit-linear-gradient(30deg, rgb(164,69,26) 0%, #ff8c38 25%, #e36d29 40%, #ff8c38 80%);
}
#kaltura-content-menu {
	height:54px;
	font-size: 1.17em;
	text-shadow: rgba(0, 0, 0, .2) -1px -1px 1px;
	font-weight: bold;
    color: white;
}
#kaltura-content-menu a
{
    color: white;
}
#kaltura-content-menu a:hover
{
	color: #DCDCDC;
	text-decoration: none;
}
#kaltura-content-menu a.selected
{
    color: #3b3b3b;
	font-weight: bold;
	/* no background right now
	background: url(kaltura-images/content-menu-hover.png);
	background-repeat:no-repeat;
	background-position:center bottom;
	padding-bottom:20px;
	*/
}
#kaltura-masthead-menu a.selected
{
    color: #E34C26;
	font-weight: bold;
	text-decoration: underline;
	/* no background right now
	background: url(kaltura-images/content-menu-hover.png);
	background-repeat:no-repeat;
	background-position:center bottom;
	padding-bottom:20px;
	*/
}
#kaltura-content-menu li
{
	position:relative;
	top:16px;
	margin-right: 1em;	
}

/* Hacks to make the content area look better */
.kaltura-first-title
{
	margin-top:0px;
}

.grid_1 p,
.grid_2 p,
.grid_3 p
{
	margin-right:15px;
}

/* Content Sidebar */

#kaltura-sidebar {
    display: block;
    float: right;
    width: 286px;
    /* These styles will make the sidebar merge with the content-menu
	top:-90px;
	margin-bottom:-90px;
	padding:10px;
	position:relative;
	background-color: #BCDBE2;
	border:0px;
	*/
}
#kaltura-sidebar{
	padding-top: 24px;
	font-size:.86em;
}
.kaltura-sidebar-menu {
	text-align:left;
}
.kaltura-sidebar-menu span {
	font-weight: bold;
	font-size: 1em;
}
.kaltura-sidebar-menu ul {
	list-style: none;
}
.kaltura-sidebar-menu nav {
	float: right;
}
.kaltura-sidebar-menu li {
	float: none;
}

/* Kaltura Footer */

#kaltura-footer-banner
{
	height:90px;
	background-color: #21879d;
	margin-top: 72px;
}
#kaltura-footer
{
	margin-top: 90px;
	padding-bottom:64px;
	background-color: #71787a;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #71787a),

		color-stop(1, rgba(0,0,0,.25))
	);
	background-image: -moz-linear-gradient(
		center top,
		#71787a,
		#71787a,
		rgba(0,0,0,.25)
	);
}
#kaltura-footer-remarks
{
	width: 674px;
	color:#fff;
	font-size: .8em;
	padding-top: 24px;
	display:inline;
	float:left;
}
#kaltura-footer-social
{
	display:inline;
	float:left;
	width: 262px;
	padding-top: 24px;
	padding-left: 24px;
}
#kaltura-footer-social span
{
	color:white;
	font-weight: bold;
}
#kaltura-footer-lists {
	padding-top: 24px;
}
.kaltura-footer-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-right: 1em;
	padding-top: 0px;
}
.kaltura-footer-list li {
	float: none;
	margin: 0 0;
	line-height: 1.5em;
}
.kaltura-footer-list li a {
	color:white;
}
.kaltura-footer-list span a {
	color:white;
	font-weight: bold;
}
.kaltura-footer-rule { 
    margin: 0 -24px;
	margin-top: 24px;
	border:0;
    height: 1px;
    background: rgb(113,120,122);
    background: 
		-webkit-gradient(
			linear, 
			0 0, 
			100% 0, 
			from( rgba(113,120,122, 0) ), 
			to( rgba(113,120,122, 0) ), 
			color-stop(10%,  rgba(113,120,122, .9) ), 
			color-stop(90%,  rgba(113,120,122, .9) )
		);
	background: -moz-linear-gradient(left, 
		rgba(113,120,122,.25), rgba(255,255,255,.25), rgba(255,255,255,.25), rgba(255,255,255,.25), rgba(113,120,122,.25));
}
.kaltura-partners {
	color:white;
	font-weight: bold;
	margin-top: 24px;
	margin-bottom: 0;
}
.kaltura-partners a {
	opacity: .8;
}
.kaltura-partners a:hover {
	opacity: 1;
}
.kaltura-partners img {
	margin:0 1em;
}
.kaltura-partners {
}
.kaltura-partners .grid_1 {
	width: 265px;
}
.kaltura-partners .grid_2 {
	width: 600px;
}
.kaltura-vertical-rule {
	display:inline;
	float:left;
	position:relative;
	height:60px;
	margin: 0 1em;
	width: 1px;
    background: rgb(113,120,122);
    background: 
		-webkit-gradient(
			linear, 
			0 0, 
			0 100%, 
			from( rgba(113,120,122, 0) ), 
			to( rgba(113,120,122, 0) ), 
			color-stop(10%,  rgba(113,120,122, .9) ), 
			color-stop(90%,  rgba(113,120,122, .9) )
		);
	background: -moz-linear-gradient(bottom, 
		rgba(113,120,122,.25), rgba(255,255,255,.25), rgba(255,255,255,.25), rgba(255,255,255,.25), rgba(113,120,122,.25));
}
.kaltura-footer-list {
display:inline;
	float: left;
	position: relative;
	font-size: .8em;
	margin-left: 0px;
	margin-right: 0px;
	width:137px;
}

#kaltura-copyright
{
	padding-top: 24px;
	display:block;
	color:#000;
	font-size: .8em;
}
#kaltura-copyright p
{
	margin-right: 1em;
}
#kaltura-copyright a,
#kaltura-copyright a:hover,
#kaltura-copyright a:visited
{
	text-decoration: underline;
	color:#000;
}
#kaltura-footer-social > * {
	float:right;
	padding-left:.15em;
}
