#kaltura-content-menu-header {
	height:360px;
	overflow-x: hidden;
	overflow-y: hidden;
}
#kaltura-video {
	position:absolute;
	top:150px;
	z-index: 2;
}
#video-credit {
	position:absolute;
	top:420px;
	z-index:3;
}
#kaltura-content-menu-shapes {
	display: block;
	position: relative;
	margin: auto;
	width: 960px;
	height: 360px;
	overflow-y: hidden
	z-index: -1;
}
#kaltura-content-menu-shapes img {
	position: absolute;
	z-index: 0;
}
#kaltura-logo,
#kaltura-masthead-menu
{
	z-index: 500;
}
div.what-is {
	z-index: 500;
	position:relative;
	display:inline;
	float:right;
	width:400px;
	margin-top:2em;
	height:360px;
	color: white;
	font-size: 14px;
}
div.what-is p {
	font-weight:normal;
	text-shadow: none;
}
div.what-is h1{
	color:white;
	text-align:left;
	font-family: Georgia, serif;
	font-style: italic;
	text-shadow: #82441a 1px 1px 1px;
	margin-bottom:.75em;
}
div.what-is div.button,
div.what-is div.button a
{
	width:153px;
	display:inline;
	float:left;
	text-align:center;
	margin:0;
	margin-right:1em;
	padding:0;
	height:52px;
	position:relative;
}
div.what-is div.button span
{
	position:relative;
	top:27%;
}
div.what-is div.button a
{
	margin:0;
	padding:0;
}
div.what-is div.kaltura-button-front2 a
{
	background-image: url(kaltura-images/button_green.png);
}
div.what-is div.kaltura-button-front2 a:hover
{
	background-image: url(kaltura-images/button_green_hover.png);
}
div.what-is div.kaltura-button-front3 a
{
	background-image: url(kaltura-images/button_blue.png);
}
div.what-is div.kaltura-button-front3 a:hover
{
	background-image: url(kaltura-images/button_blue_hover.png);
}
div.what-is > * {
	z-index:4 !important;
}
#video-credit span,
#video-credit span a,
#video-credit span a:hover
{
	font-size: 10px;
	font-weight: normal;
	color:white;
}
#kaltura-content-menu a {
	color:white;
}
div.kaltura-front-feed {
	width: 345px !important;
}
div.kaltura-front-sidebar {
	width: 270px !important;
}
.kaltura-front-feed li {
	margin-bottom:18px;
}
.kaltura-front-feed a.read-more {
	line-height:2em;
}
.kaltura-front-feed div.front-time a,
.kaltura-front-feed div.front-time a:hover
{
	color: #f17e21;;
	font-weight:bold;
}
div.front-time {
	margin-bottom:.5em;
}
.kaltura-front-feed-header{
	color: #666560;
	margin-bottom: 24px;
}
#twtr-widget-1 .twtr-tweet a
{
       text-decoration: none !important;
       color: #0fa2bb !important;
       background: none;
}
#twtr-widget-1 .twtr-tweet a:hover
{
      color: #00cdff !important;
      text-decoration: none !important;
}
