#kaltura-content-menu-header {
	height:360px;
	overflow-x: hidden;
	overflow-y: hidden;
}
#kaltura-video {
	padding-top:22px;
}
#video-credit {
	position:absolute;
	top:430px;
	z-index: 0;
}
#kaltura-content-menu-shapes {
	display: block;
	position: relative;
	margin: auto;
	width: 960px;
	height: 360px;
	overflow-y: hidden
	overflow-x: hidden
}
#kaltura-content-menu-shapes img {
	position: absolute;
	z-index: 10 !important;
}
#kaltura-logo,
#kaltura-masthead-menu,
#kaltura-top-menu
{
	position:absolute;
	z-index: 0;
}
div.what-is {
	z-index: 3;
	display:inline-block;
	float:right;
	position:relative;
	top:-320px;
	width:400px;
	margin-top:2em;
	height:360px;
  line-height:.8em;
	color: white;
	font-size: 14px;
}
div.what-is p {
	font-weight:normal;
	text-shadow: none;
}
div.what-is a {
	text-decoration: underline;
}
div.what-is div.button a {
	text-decoration: none;
}
div.what-is h1{
	color:white;
	text-align:left;
	font-family: Georgia, serif;
	font-style: italic;
	text-shadow: #82441a 1px 1px 1px;
	margin-top:-15px;
	margin-bottom:.75em;
}
div.what-is div.button,
div.what-is div.button a
{
	width:151px;
	display:inline;
	float:left;
	text-align:center;
	margin:0;
	padding:0;
	height:46px;
	position:relative;
	font-size: 16px;
	overflow:hidden;
	margin-top:20px;
}
div.what-is div.button
{
	margin-right:1em;
}
div.what-is div.button span
{
	position:relative;
	top:27%;
}
div.what-is div.button a
{
	margin:0;
	padding:0;
}
div.what-is div.kaltura-button-front2 a
{
	background-image: url(kaltura-images/greenbtn.png);
	background-position:0 0;
	background-repeat:none;
}
div.what-is div.kaltura-button-front2 a:hover
{
	background-image: url(kaltura-images/greenbtn.png);
	background-position:0 -46px;
	background-repeat:none;
}
div.what-is div.kaltura-button-front3 a
{
	background-image: url(kaltura-images/bluebtn.png);
	background-position:0 0;
	background-repeat:none;
}
div.what-is div.kaltura-button-front3 a:hover
{
	background-image: url(kaltura-images/bluebtn.png);
	background-position:0 -46px;
	background-repeat:none;
}
#video-credit span,
#video-credit span a,
#video-credit span a:hover
{
	font-size: 10px;
	font-weight: normal;
	color:white;
}
#kaltura-content-menu a {
	color:white;
}
div.kaltura-front-feed {
	width: 345px !important;
}
div.kaltura-front-sidebar {
	width: 270px !important;
}
.kaltura-front-feed li {
	margin-bottom:18px;
}
.kaltura-front-feed a.read-more {
	line-height:2em;
}
.kaltura-front-feed div.front-time a,
.kaltura-front-feed div.front-time a:hover
{
	color: #f17e21;;
	font-weight:bold;
}
div.front-time {
	margin-bottom:.5em;
}
.kaltura-front-feed-header{
	color: #666560;
	margin-bottom: 24px;
}
